.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.Block{
  width: 150px;
  height: 150px;
  border: 5px solid black;
  background-size: cover;
  display: inline-block;
}
.mark1{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSc0jtlU_2cWUoRI1plNshrfVSMYeyTew8Sm3PpdzQQ&s');
}
.mark2{
  background-image: url("https://e7.pngegg.com/pngimages/255/685/png-clipart-tic-tac-toe-computer-icons-others-miscellaneous-angle.png");
}